name: "Build Android"
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_android:
    name: "Build Android"
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
            add-job-summary-as-pr-comment: 'on-failure'
            build-scan-publish: true
            build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
            build-scan-terms-of-use-agree: 'yes'

      - name: Build debug
        run: ./gradlew :androidApp:assembleDebug

      - name: Upload build outputs (APKs)
        uses: actions/upload-artifact@v5
        with:
          name: APKs
          path: '**/build/outputs/apk/**/*.apk'
