name: "Build Desktop"
on:
  push:
    branches:
     - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_mac:
    name: "Build Mac Desktop App"
    runs-on: macos-15
    timeout-minutes: 60

    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary-as-pr-comment: 'on-failure'
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'

      - name: Build desktop app
        run: ./gradlew :app:desktopApp:createDistributable

      - name: Upload build outputs
        uses: actions/upload-artifact@v6
        with:
          name: Palette.app
          path: 'app/desktopApp/build/compose/binaries/main/app/*.app'

  build_windows:
    name: "Build Windows Desktop App"
    runs-on: windows-latest
    timeout-minutes: 60

    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary-as-pr-comment: 'on-failure'
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'

      - name: Build desktop app
        run: ./gradlew :app:desktopApp:createDistributable

      - name: Upload build outputs
        uses: actions/upload-artifact@v6
        with:
          name: Palette.exe
          path: 'app/desktopApp/build/compose/binaries/main/app/*'
